:root {
  --primary: #E879F9;
  --primary2: #B34DC5;
  --primary3: #ee3453;
  --bg: #1D1D27;
  --bg2:#0B0B0E;
  --bg3: #141418;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg2);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: var(--bg2);
  border-bottom: 1px solid var(--primary2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar img{
  width: 120px; 
  height: auto;

}
.navbar i{
  font-size:35px; 
  margin-right: 10px;
}


.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0 3rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #4c4c4c;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero img{
  width: 100%;
  padding-top: 80px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: flex;
  filter: brightness(40%);
}

.hero {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
}

.text-overlay h1 {
  font-size: 3.5em; /* Ukuran font sesuaikan dengan kebutuhan Anda */
  margin-bottom: 10px;

}

.text-overlay p {
  font-size: 1.2em; /* Ukuran font sesuaikan dengan kebutuhan Anda */

}


.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #4c4c4c;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.btn p{
  display: block;
  margin: 2rem auto;
  width: fit-content;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  
}
.btn p:hover{
  background: var(--primary2);
  color: white;
  border: 2px solid var(--primary2);
}
@media (max-width: 600px) {
  .hero img{
    width: 100%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: flex;
    filter: brightness(40%);
  }
  
  .hero {
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    color: white; 
  }
  
  .text-overlay h1 {
    font-size: 2.3em; /* Ukuran font sesuaikan dengan kebutuhan Anda */
    margin-bottom: 10px;
  
  }
  
  .text-overlay p {
    font-size: 1em; /* Ukuran font sesuaikan dengan kebutuhan Anda */
  
  }
  
  
  .hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #4c4c4c;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }
  
  .btn p{
    display: block;
    margin: 2rem auto;
    width: fit-content;
    border: 1px solid white;
    padding: 6px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    
  }
  .btn p:hover{
    background: var(--primary2);
    color: white;
    border: 2px solid var(--primary2);
  }
}
/* About Section */
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}


/* Menu Section */
.menu h2,
.contact h2 {
  margin-bottom: 8rem;
  margin-top: 12rem;
}
.menu {
  text-align: center;
}

.collection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px; /* Atur jarak antara item */
}

.collection img {
  filter: brightness(70%);
  width: 78%;
  max-height: 400px; /* Atur tinggi maksimum sesuai kebutuhan Anda */
  object-fit: cover; /* Memastikan gambar tetap mempertahankan rasio aspek dan memotong bagian yang tidak muat */
  transition: 0.3s ease;
}

.collection img:hover {
  filter: brightness(30%);
}

.item {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0; /* Sembunyikan teks awalnya */
  transition: opacity 0.3s ease; /* Efek transisi untuk tampilan dan penghilangan teks */
}

.item:hover .overlay-text {
  opacity: 1; 
}

.menu p,
/* Contact Section */
.contact {
  text-align: center;
}


/* Footer */
footer {
  background-color: var(--bg3);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 25rem;
}

footer .socials p {
  margin-top: 3%;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 50px;
  

}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #ffffff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 2rem;
}

footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  margin: 0.5rem 0.5rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
  
}

footer .credit p{
  padding: 0.5rem 1rem;
}
/* Media Queries
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #4c4c4c;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }


  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.about h3{
text-align: left;
}

.row{
  justify-content: center; 
  display: flex;
}
.col {
  background-color: var(--primary2);
  padding: 150px 50px;
  color: black;
  width: 50%; 
}

.col2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col2 img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  filter: brightness(30%);
  z-index: 1; 
}

.col2 p {
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  margin-bottom: 3rem;
  z-index: 2; /* Ensure the text is in front of the image */
}
.col p,
.col1 p {
  font-weight: 500;
}

.col1 {
  background-color: #000000;
  padding: 150px 50px;
  width: 50%; 
}
@media (max-width: 	1024px) {
  .row{
    justify-content: center; 
    display: block;
  }
  .col {
    background-color: var(--primary2);
    padding: 40px 50px;
    color: black;
    width: 100%; 
  }
  .col1 {
    background-color: #000000;
    padding: 40px 50px;
    width: 100%; 
  }
  
}


.bestseller {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0px 10px;
  max-width: 84%;
  height: auto;
  margin: 0 auto;
}

.bestseller img {
  margin-left: 10px;
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  /* Adjust styling for screens wider than 600px if needed */
  .bestseller {
    padding: 0px 20px;
  }

}

@media (min-width: 768px) {
  /* Adjust styling for screens wider than 768px if needed */
  .bestseller {
    padding: 0px 30px;
  }
}

@media (min-width: 992px) {
  /* Adjust styling for screens wider than 992px if needed */
  .bestseller {
    padding: 0px 40px;
  }
}
@media (max-width: 767px) {
  /* Ubah menjadi 2 kolom saat lebar layar kurang dari 768px (tampilan mobile) */
  .bestseller {
    grid-template-columns: repeat(2, 1fr);
  }
}